{% extends 'index' %}

{% block content %}

	<h1>Test Blog</h1>
	
	<p>
		Welcome to test blog
	</p>

	{% set posts = craft.entries.section('blogPost').all() %}

	{% for post in posts %}

		<h2>{{post.title}}</h2>
		{{post.richText}}

		{# <p>
			<a href='{{post.url}}'>Read more<a>
        </p> #}

	{% endfor %}


{% endblock %}
	
