{% extends "index" %}

{% block content %}

<center>

	<h1>What the stars and billionaires 
	</h1>

	{% for block in entry.modules %}

		{% switch block.type %}

			{% case "moduleText" %}
				<h>{{block.moduleText}}</h>

			{% case "moduleImage" %}

				{% set image = block.moduleImage.first %}

				<img src="{{image.url}}" alt="image.title">

			{% case "moduleHeading" %}

				<h>{{block.moduleHeading}}</h>
			</br>
		</br>
	</br>


	{% case "moduleTable" %}

	<p>{{entry.subtitle}}</p>

		<div class="table-wrapper">


			<table>
            

				<thead>
                
					<tr>
						<th>Company</th>
						<th>Contact</th>
						<th>Country</th>
					</tr>
				</thead>
				{% for row in block.moduleTable %}

					<tr>
						<td>{{row.company}}</td>
						<td>{{row.contact}}</td>
						<td>{{row.country}}</td>
					</tr>


				</div>
			{% endfor %}
		</table>

	{% endswitch %}

{% endfor %}</center>{% endblock %}{# matrix implementation #}{# ======================================================================================================= #}{# Alternative code #}{# {% for module in entry.modules %}
								
								{% include "_modules/" ~ module.type %}
								    
								{% endfor %} #}
