<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>
		<title>Welcome to Craft CMS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta name="referrer" content="origin-when-cross-origin"/>
		<link rel='stylesheet' href='{{siteUrl}}assets/style.css'>


<style>
.table-wrapper{
  overflow-y: scroll;
  height: 250px;
}

.table-wrapper th{
    position: sticky;
    top: 0;
}

/* A bit more styling to make it look better */
.table-wrapper{
  background: CadetBlue;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th{
    background: #DDD;
}

td,th{
  padding: 10px;
  text-align: center;
}
</style>

	</head>
	<body>

		<header class="header">

			<a href="{{ siteUrl }}" class="logo"></a>


			<nav class="nav" style="background-color:black">

				{% for link in header.navigation %}

					{% set destination = link.linkDestination.one() %}
					<center>
						<a href="{{destination.url}}" class="nav-link">{{ link.linkText }}</a>
					</center>

				{% endfor %}

			</nav>

		</header>


		<div class="content-column">
			{% block content %}
				{# Page template inserted here #}
			{% endblock %}
		</div>

		<footer class="footer">
			{{footer.richText}}
		</footer>

	</body>
</html>
